{% load static %}
<html  lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block styles %}
            <link rel="stylesheet"href="{%static 'node_modules/bootstrap/dist/css/bootstrap.min.css'%}">
            <link rel="stylesheet" href="{% static 'css/globalcss.css' %}">
        {% endblock %}
    </head>
    {% block js %}
            <script src="{%static 'node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
            <script src="{%static 'node_modules/jquery/dist/jquery.slim.min.js'%}"></script>
            <script src="{%static 'node_modules/popper.js/dist/popper.min.js'%}"></script>
        {% endblock %}
    <body style="background-color: #ffc105;">
            {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-warning">
                <img src="{% static 'img/logo_site.png'%}" alt="logo du site"  style="width:150px; height:50px">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'movies:home' %}"> Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'movies:film_list' %}">Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movies:serie_list' %}">Series</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'movies:realisateur_list' %}">Realisateurs</a>
                    </li>
                  </ul>
                </div>
                <a class="col" href="{% url 'movies:connexion' %}"><img src="{%static 'img/login.png'%}" alt="image de connexion" class="rounded float-right" style="width:60px; height:60px"></a>
              </nav>
            {% endblock %}
            <main role="main"class="containertop-pushed">
                <div class="jumbotron">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
    </body>
    <footer class="bg-warning">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/facebook.png'%}" alt="Facebook" style="width:80px; height:80px"></a> </div>
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/twitter.png'%}" alt="Twitter" style="width:80px; height:80px"></a> </div>
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/instagram.png'%}" alt="Instagram" style="width:80px; height:80px"></a> </div>
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/youtube.png'%}" alt="Youtube" style="width:80px; height:80px"></a> </div>
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/twitch.png'%}" alt="Twitch" style="width:80px; height:80px"></a> </div>
                <div class="col"> <a href=""><img src="{%static 'img/SocialNetworks/snapchat.png'%}" alt="Snapchat" style="width:80px; height:80px"></a> </div>
            </div>
            <br><br>
            <div class="row" style="text-align: center;">
                <div class="col"><a href="" class="badge badge-warning"> <b> Aide</b> </a></div>
                <div class="col"><a href="" class="badge badge-warning"> <b> Qui sommes nous ?</b> </a> </div>
                <div class="col"> <a href="" class="badge badge-warning"> <b> Rejoignez-nous</b> </a> </div>
                <div class="col"> <a href="" class="badge badge-warning"> <b> CGU</b> </a> </div>
                <div class="col"> <a href="" class="badge badge-warning"> <b> Données Personnelles</b> </a> </div>
                <div class="col"> <a href="" class="badge badge-warning"> <b> Nous contacter</b> </a> </div>
            </div>
            <br>
            <p style="text-align: center; font-size: smaller; color:grey">Copyright 2020 @ProjectMovie .Inc </p>  
        </div>
    </footer>
</html>