{% extends "base.html"%}
{% block title %}
    Accueil
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
    <div class="container">
            <h1>Bienvenue</h1>
            <h3>Merci de nous avoir choisi !!</h3><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ab, recusandae quos eos deserunt aliquid! Ipsam quam quibusdam, placeat maiores architecto facilis eaque beatae, sapiente doloremque voluptate soluta ducimus atque!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis dolor commodi mollitia beatae ducimus, corrupti alias totam tempore corporis eligendi repellat atque velit a eius ex! Vel, sapiente! Sed?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi libero amet beatae itaque. Neque eius quibusdam, totam, nesciunt molestias animi perferendis quam suscipit dolorem eum sequi, in eveniet asperiores ea.</p>
    </div>
{% endblock %}