{% extends "base.html"%}
{% block title %}
    Ajouter un film
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
<a href="{% url 'movies:film_list'%}"><button class="btn btn-warning">Retour</button></a><br><br><br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br><p>Vous pouvez aussi ajouter : </p>
    <ul>
        <li class="badge badge-warning"><a href="{% url 'movies:image'%} " style=" color:cornsilk;"> Une Image </a></li>
        <li class="badge badge-warning"><a href="{% url 'movies:realisateur_create'%}" style=" color:cornsilk;"> Un Réalisateur </a></li>
    </ul>
    <br><input type="submit" class="btn btn-outline-warning" value="Ajouter le Film">
    
</form>
{% endblock %}