{% extends "base.html"%}
{% block title %}
    Modifier le Film
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
<a href="{% url 'movies:film_details' object.pk %}"><button class="btn btn-warning">Retour</button></a><br><br><br>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <br><input type="submit" class="btn btn-outline-warning" value="Valider les modifications">
</form>
{% endblock %}