{% extends "base.html"%}

{% load crispy_forms_tags %}

{% block title %}
Modifier le Realisateur
{% endblock %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% block content%}
<a href="{% url 'movies:realisateur_detail' object.pk %}"><button class="btn btn-warning">Retour</button></a><br><br><br>
<form method="post">{% csrf_token %}
    {{ form.nom|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.link_img|as_crispy_field }}
    <br><input type="submit" class="btn btn-outline-warning" value="Valider les modifications">
</form>
{% endblock %}