{% extends "base.html"%}
{% block title %}
Supprimer un réalisateur
{% endblock %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% block content%}
<div style="text-align: center;">
    <form method="post">{% csrf_token %}
        <p>Voulez vous vraiment supprimer <b>{{ object.nom }} </b>?</p>
        <input type="submit" value="Confirmer" class="btn btn-outline-warning">
    </form>
    <a href="{% url 'movies:realisateur_detail' object.pk %}"><button class="btn btn-warning">Annuler</button></a>
</div>
{% endblock %}