
{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
Ajouter un réalisateur
{% endblock %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% block content%}
<a href="{% url 'movies:realisateur_list'%}"><button class="btn btn-warning">Retour</button></a><br><br><br>
<form method="post">
    {% csrf_token %}
    {{ form.nom|as_crispy_field }}
    <br><input type="submit" class="btn btn-outline-warning" value="Ajouter le realisateur">
</form>
{% endblock %}