{% extends "base.html"%}
{% load static %}
{% block title %}
    Les Séries
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
    <h1 style="text-align: center; font-size:70px;"> Séries </h1><br>
    <p style="text-align: center;">
        <br><a href="{% url 'movies:serie_create' %}"><button class="btn btn-warning">Ajouter une série</button></a>
    </p>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for serie in object_list %}
            <a href="{% url 'movies:serie_detail' serie.pk%}" style="text-decoration: none;"> 
                <div class=" mb-4 px-5 py-5 align-items-center" style="width: 22rem; text-align: center;">
                    {% if serie.link_img %}
                        <img src="{{serie.link_img}}" class="card-img-top" alt="image de la serie"  style="height: 500px; width:350px">
                    {% else %}
                        <img src="{% static 'media/'%}{{serie.img.imagefile}}" class="card-img-top" alt="image de la serie"  style="height: 500px; width:350px">
                    {% endif %}
                    <div class="card-body">
                        <b> <h5 style="color:orange; text-decoration: none;" class="card-title">{{serie.nom}}</h5></b>
                        <p class="card-text" style="color: black;">{{serie.description}}</p>
                        <a href="{% url 'movies:serie_detail' serie.pk%}"> <button class="btn btn-outline-warning">Détails</button></a>
                        <a href="{% url 'movies:serie_edit' serie.pk%}"> <button class="btn btn-outline-warning">Modifier</button></a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="pagination" style="justify-content: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1"><button type="button" class="btn btn-outline-warning">&laquo; Première page</button></a>
                
                <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-warning">Page précédente</button></a>
            {% endif %}

            <!-- <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span> -->

            <span class="current badge badge badge-secondary">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-warning">Page suivante</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-outline-warning">Dernière page &raquo;</button></a>
            {% endif %}
        </span>
    </div>

{% endblock %}